<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
				<h2>Log in</h2>
			</div>

			<div class="panel-body">
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div class="form-inputs">
				    <%= f.input :email, required: false, autofocus: true %>
				    <%= f.input :password, required: false %>
				  </div>
					<br>
				  <div class="form-actions">
				    <%= f.button :submit, "Log in" %>
				  </div>
				<% end %>

				<%= render "devise/shared/links" %>
			</div>

		</div>
  </div>
</div>
